<!DOCTYPE html>
<html lang="nl">

{{ partial "head" . }}
  <body>
    <div class="content">
      {{ partial "navigation/header" . }}
      <section class="page">
        {{ block "main" . }} {{ end }}
      </section>
    </div>
<table style="width:100%">
  <tr>
    <td>maandag</th>
    <td>gesloten</th>
    <td></th>
  </tr>
  <tr>
    <td>dinsdag</th>
    <td>17:30</th>
    <td>20:00</th>
  </tr>
    <tr>
    <td>woensdag</th>
    <td>15:00</th>
    <td>18:00</th>
  </tr>
    <tr>
    <td>donderdag</th>
    <td>17:30</th>
    <td>20:00</th>
  </tr>
    <tr>
    <td>vrijdag</th>
    <td>17:30</th>
    <td>20:00</th>
  </tr>
    <tr>
    <td>zaterdag</th>
    <td>09:30</th>
    <td>13:00</th>
  </tr>
    <tr>
    <td>zondag</th>
    <td>09:30</th>
    <td>13:00</th>
  </tr>
</table>

  </body>
</html>
